/********************************************************** Global Styling *********************************************************/
* {
    margin: 0px;
    font-family: roboto, sans-serif !important;
}
.flexRowSpacebetweenCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.paddingL145R120{
    padding-left: 145px;
    padding-right: 120px;
}
/********************************************************** Global Styling *********************************************************/


/*-------------------------------------------------------- Header -------------------------------------------------------- */
header {
    height: 60px;
}
.header-part1 {
    width: 690px;
}
.header-part2 {
    width: 180px;
}
.header-part2 >div> button {
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    background-color: rgb(241, 79, 79);
    border: none;
}
.header-part2 >div> select {
    font-size: 14px;
    background-color: white;
    border: none;
}
.header-logo > img {
    width: 120px;
    padding-top: 5px;
}
.header-search>img {
    position: relative;
    top: 4px;
    left: 25px;
    width: 18px;
}
.header-search > input {
    height: 30px;
    width: 510px;
    padding-left: 30px;
    border: 1px solid rgb(216, 218, 221);
    border-radius: 4px;
}
/*-------------------------------------------------------- Header -------------------------------------------------------- */


/*-------------------------------------------------------- Navbar -------------------------------------------------------- */
nav {
    height: 40px;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
}
.nav1{
    width: 370px;
}
.nav2{
    font-size: 13px;
    width: 285px;
}
/*-------------------------------------------------------- Navbar ----------------------------------------------------------- */


/*-------------------------------------------------------- Carausal -------------------------------------------------------- */
.carausalBox {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(235, 240, 240);
}
.carausalCont{
    height: auto;
    width: 1280px;
}
.carausal {
    transform: translate(-100%);
    width: 100%;
    display: flex;
    transition: 0.4s;
}
.carausal>img {
    padding: 10px;
    border-radius: 30px;
}
#prev {
    padding: 5px 12px;
    font-size: 22px;
    font-family: Copperplate, Papyrus, fantasy;
    position: absolute;
    top: 240px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
}
#next {
    padding: 5px 12px;
    font-size: 22px;
    font-family: Copperplate, Papyrus, fantasy;
    position: absolute;
    top: 240px;
    left: 1478px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
}

/*-------------------------------------------------------- Carausal -------------------------------------------------------- */


/*-------------------------------------------------------- Section 1 -------------------------------------------------------- */
.main-sec-1 {
    margin-top: 30px;
}
.main-sec-1>div>p {
    color: red;
}
/*-------------------------------------------------------- Section 1 -------------------------------------------------------- */


/*-------------------------------------------------------- Section 2 -------------------------------------------------------- */
.main-sec-2 {
    margin-top: 10px;
    padding-left: 145px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.main-sec-2>div {
    width: 220px;
    height: 480px;
    border-radius: 8px;
}
.main-sec-2>div>img {
    width: 100%;
    height: 380px;
    border-radius: 8px;
}
.main-sec-2>div>h3, .main-sec-2>div>p {
    padding-top: 10px;
    word-break: break-word;
    line-height: 1.33;
}
.main-sec-2>div>h3 {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 550;
}
.main-sec-2>div>p {
    color: rgb(130, 125, 125);
    font-size: 16px;
    font-weight: 450;
}
/*-------------------------------------------------------- Section 2 -------------------------------------------------------- */


/*-------------------------------------------------------- Section 3 -------------------------------------------------------- */
.main-sec-3 {
    padding-top: 60px;
    padding-bottom: 80px;
}
.main-sec-3>img {
    width: 1240px;
}
/*-------------------------------------------------------- Section 3 -------------------------------------------------------- */

/*-------------------------------------------------------- Section 4 -------------------------------------------------------- */

/*-------------------------------------------------------- Section 4 -------------------------------------------------------- */

/*-------------------------------------------------------- Footer 1 -------------------------------------------------------- */
footer {
    background-color: black;
}
.footer1 {
    color: white;
    height: 80px;
}
.footer1>div>img,.footer1>div>h3,.footer1>div>p {
    padding-right: 14px;
    font-size: 16px;
}
.footer1>div>button {
    color: white;
    background-color: rgb(236, 94, 113);
    padding: 8px 12px;
    font-size: 14px;
}
/*-------------------------------------------------------- Footer 1 -------------------------------------------------------- */


/*-------------------------------------------------------- Footer 2 -------------------------------------------------------- */
.footer2 {
    height: 100px;
    background-color: #404043;
}
.footer2>div>img {
    width: 60px;
}
.footer2>div>p {
    font-size: 14px;
    color: rgb(130, 125, 125);
}
.footer2>div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------------------------------------------------------- Footer 2 -------------------------------------------------------- */


/*-------------------------------------------------------- Footer 3 -------------------------------------------------------- */
.footer3 {
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
}
.footer3>div {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.footer3>h4{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(157, 154, 154);
    letter-spacing: 0.1px;
}
.footer3>div>a {
    font-size: 12px;
    font-weight: 400;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
    transition: 300ms;
}
.footer3>div>a:hover {
    color: white;
}
/*-------------------------------------------------------- Footer 3 -------------------------------------------------------- */


/*-------------------------------------------------------- Footer 4 -------------------------------------------------------- */
.footer4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}
.footer4>hr {
    border-color: rgb(93, 93, 95);
    width: 640px;
}
/*-------------------------------------------------------- Footer 4 -------------------------------------------------------- */


/*-------------------------------------------------------- Footer 5 -------------------------------------------------------- */
.footer6 {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    color: rgb(127, 127, 127);
}
.footer6>div {
    font-size: 11px;
    text-align: center;
}
/*-------------------------------------------------------- Footer 5 -------------------------------------------------------- */
